<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.WebsiteName}}</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-lGJFUWJWn9cSqQ6Z21T4YO+nmkUa7EzPcZ9LhEQBlFhT/9cD8btfJkgMlLHlMfsG56HW3Qc30RXAPCRRaOW8tA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/page.css" />
    <script src="./js/prism.js"></script>
  </head>

  <body>
    {{template "navbar.html" .}}

    <div class="container">
      <h1>{{.WebsiteName}}</h1>
      <div class="content">
        <div class="content">{{.ReadmeContent}}</div>
      </div>

      <h2>Available Notes</h2>
      <div class="buttons">{{.Buttons}}</div>
    </div>

    {{template "footer.html" .}}
  </body>
</html>
