<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-lGJFUWJWn9cSqQ6Z21T4YO+nmkUa7EzPcZ9LhEQBlFhT/9cD8btfJkgMlLHlMfsG56HW3Qc30RXAPCRRaOW8tA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <a href="/" class="button"><i class="fas fa-home"></i> Home</a>
      <a
        href="https://github.com/{{.GithubUsername}}"
        class="button"
        target="_blank"
        ><i class="fab fa-github"></i> GitHub</a
      >
    </nav>
  </body>
</html>
