<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/prism.css">
    <link rel="stylesheet" href="./css/page.css">
    <script src="./js/prism.js"></script
</head>
<body>
    {{template "navbar.html" .}}
    
    <div class="container">
        <h1>{{.Title}}</h1>
        <div class="content">
            {{.Content}}
        </div>
    </div>

    {{template "footer.html" .}}
</body>
</html>
