body {
  background-color: #333333;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #222222;
  padding: 20px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.home-button {
  font-weight: bold;
}

.content {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
}

.button-container {
  margin-top: 30px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #222222;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
}

.footer {
  background-color: #222222;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
